.labelDiv {
    font-size: 10pt;
    color: #212121;
    text-align: left;
}

.createDishDiv {
    margin:5px;
    height: 100vmax;
    overflow: scroll;
    /* display: inline-flexbox; */
}

.selectDiv {
    font-size: 11pt;
    width: 90%;
    overflow: visible;
    text-align: left;
    /* height: 100vmax; */
}
