.labelDiv {
    font-size: 10pt;
    color: #212121;
    text-align: left;
}

.selectDiv {
    font-size: 11pt;
    width: 93vw;
    overflow: visible;
    text-align: left;
}

.orderDiv {
    margin-left: 8px;
    padding: 4px;
    margin-right: 4px;
    height: 50vmax;
    overflow: scroll;
    text-align: center;
}

.header {
    font-weight: 100;
}
